.home{
    position: relative;
    margin-bottom: 30px;
    padding-top: 175px;
    padding-bottom: 175px;
    min-height: 895px;
    height: 895px;
   
}

/* body{
    overflow-x: hidden;
} */

.home-content{
    max-width:423px;
    
}

.home-heading{
    color:#01996D;
    font-weight: 700;
    font-size: 65px;
    font-family: 'Georgia Regular', serif;
    margin-bottom: 30px;
}

.home-text{
    color:#484848 !important;
    line-height: 144.5%;

}

.home-btn{
   margin-top: 53px;
   display: flex;
   
}


.home-bg-image{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    z-index: -1;
   
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

@media (max-width:1000px) {
    .home-bg-image{
        opacity: 0.6 ;
        width:100%;
        right:0;
    }
    .home{
        padding: 40px 0;
        min-height: unset;
    }

    .home-heading{
        font-size: 45px;
        line-height: 1.2;
    }
    .home-btn{
        margin-top: 30px;
    
    }  
    
}

@media (max-width:400px) {
    .home-bg-image{
        width:100%;
    }
}